extends layout

block content
  #search-container
    h1 DuckDuckBing
    form#search-form(method='get', action='')
      input(type='text', id='search-input', name='q', required, placeholder='Whatcha looking for?')
      button(type='submit') Search
    p Searches Bing and !bangs <a href="http://duckduckgo.com">DuckDuckGo</a>. <a href="/browser">Tell your browser</a>!
//-   #footer
//-     p Lovingly built by 
//-       a(href="http://twitter.com/mcrittenden") Mike Crittenden
//-       |  | 
//-       a(href="http://github.com/mikecrittenden/duckduckbing") Source on GitHub
//-       |  | 
//-       a(href="mailto:mikecrittenden@gmail.com") Email me
//-       |  | 
//-       a(href="/privacy") Privacy
